/* Estilos globais */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
}

/* Container centralizado */
.container {
    width: 100%;
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1 {
    color: #555;
    margin-bottom: 20px;
}

p {
    color: #666;
    margin-bottom: 20px;
}

/* Estilos do link de logout */
a {
    text-decoration: none;
    color: #007BFF;
    display: inline-block;
    margin-top: 15px;
}

a:hover {
    text-decoration: underline;
}

/* Menu de navegação */
nav ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
    margin-bottom: 20px;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li:last-child {
    margin-right: 0;
}

/* Estilo dos links de navegação */
nav a {
    text-decoration: none;
    color: #007BFF;
    padding: 10px 15px;
    border: 1px solid #007BFF;
    border-radius: 4px;
    transition: background-color 0.3s, color 0.3s;
}

nav a:hover {
    background-color: #007BFF;
    color: #fff;
}

/* Estilos das seções */
.section {
    background-color: #fff;
    padding: 20px;
    margin: 20px auto;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    text-align: left;
}

.section h2 {
    color: #555;
    margin-bottom: 10px;
}

.section p {
    color: #666;
}
